<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/res/css/style.css">
</head>
<body>
    <header>
            <ul class="mono">
                <li><a href="/">Home</a></li>
                {{range .tableList}}
                <li>
                    <a href="/table/{{.}}">{{.}}</a>
                </li>
                {{end}}
            </ul>
    </header>
    <main>
        {{if .Table}}
        <div>Таблица: <span class="mono">{{.Table.Name}}</span></div>
        {{$tablename := .Table.Name}}
        {{$tablecols := .Table.Columns}}
            <table class="mono">
                <tr>
                    {{range .Table.Columns}}
                    <td>{{.Name}}</td>
                    {{end}}
                    <td></td>
                </tr>
                {{range .Table.Data}}
                <tr>
                    {{range .}}
                        <td>{{.}}</td>
                    {{end}}
                    <td>
                        <form action="/delete/{{$tablename}}" method="get">
                            <input type="hidden" name="row" value="{{.}}">
                            <input type="hidden" name="cols" value="{{$tablecols}}">
                            <input type="submit" value="×" style="color: white;" alt="Удалить">
                        </form>
                    <tr>
                {{end}}
                <tr>
                    {{range .Table.Columns}}
                    <td><label>
                        <input type="text" form="ins"
                               name="{&quot;Name&quot;: &quot;{{.Name}}&quot;, &quot;Type&quot;: &quot;{{.Type}}&quot;}"
                               placeholder="Введите {{.Name}}">
                    </label></td>
                    {{end}}
                    <td>
                        <form action="/insert/{{$tablename}}" method="get" id="ins">
                            <input type="submit" value="+" alt="Добавить">
                        </form>
                    </td>
                </tr>
            </table>
        {{if .inError}}
            <div id="inlineErr">{{.inError}}</div>
        {{end}}
        {{else}}
            <div id="errMain">{{.Error}}</div>
            <div id="subError" class="mono">{{.SubError}}</div>
        {{end}}
    </main>
</body>
</html>