body{
    font-family: Roboto, sans-serif;
    background-color: #EEE;
}
a{
    color: inherit;
    text-decoration: none;
}
table{
    border-spacing: 0;
    border: 1px solid #333;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #f0f0f0;
}
tr:first-child{
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

td{
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0.5vh 10px;
}

tr > td:last-child{
    padding: 0;
    width: 3vh;
    height: 3vh;
    font-weight: bold;
}

tr:not(:first-child):not(:last-child) > td:last-child{
    background-color: #e39393;
}

tr:last-child{
    background-color: rgba(147, 227, 147, 0.22);
}

tr:last-child > td:last-child {
    background-color: #93e393;
}

main{
    max-width:600px;
    margin: 3em auto;
    background-color: #fff;
    padding: 20px;
    min-height: 600px;
    border-radius: 7px;

}

td input{
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
input::placeholder{
    color: #867894;
}

input[type="submit"]{
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

header{
    top: 0;
    position: fixed;
    height:3em;
    width: 100%;
}
header ul{
    height: 100%;
    min-width: 900px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.mono{
    font-family: Consolas, monospace;
    color: #42275b;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#errMain, #subError{
    font-size: 0.8em;
    color: #777;
    margin: 2px;
}
#errMain{
    font-size: 1.2em;
}

header ul > li:first-child > a{
    color: #000;
    background-color: #93e393;
    padding: 0.3em 1em;
    border-radius: 7px;
}

#inlineErr{
    font-size: 0.8em;
    padding: 7px 15px;
    min-width: 20%;
    text-align: center;
    border-radius: 7px;
    background-color: #bd7373;
    color: #ffffff;
}